{% extends 'base.html' %}

<div class="row" style="margin-top: 100px;">
    {% block content %}
    {% csrf_token %}
    <h1>Please enter info of env.</h1>
    <form>
        <label for="groupList">Group Name:</label>
        <select id="groupList" name="group" required >
            {% for group in groups %}
            <option value={{ group.groupName }}>{{ group.groupName }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <label for="serverList">List of related IPs:</label>
        <select id="serverList" name="server"  >
        </select>
        <br />
        <br />
        <label for="Async">Required text:</label>
        <input type="text" size="30" name="Async" id="Async" required />
        <br>
        <br>
        <label for="logHour">Select trx time(from 0 to 23):</label>
        <input type="number" id="logHour" name="tentacles" min="0" max="23">
        <br>
        <p class="date_var" >Log file date: <input type="date" id="trx_date"></p>

    </form>
    <br>
    <button id="myButton" class="float-left submit-button" >Search</button>
    <div class="spinner-border text-warning" role="status" style="display: none">
      <span class="sr-only">Loading...</span>
    </div>
    <br>
    <br>
    <h2>Result:</h2>

    <p id="result" style="border-width: 5px; border-style: inset; background-color: #f1abab; padding:15px; white-space: pre-line"></p>

    <script type="text/javascript">

        document.getElementById("myButton").onclick = function () {
            document.getElementById("myButton").style.display = "none";
            $(".spinner-border").show();
            var list1 = document.getElementById('groupList');
            var list1SelectedValue = list1.options[list1.selectedIndex].value;
            var Async = document.getElementById("Async").value;
            var hour = document.getElementById("logHour").value;
            var trx_date = document.getElementById("trx_date").value;

            var log_type = ''
            if(list1SelectedValue == 'PROD-SW-Old'){
                log_type = 'switch';
            }else if(list1SelectedValue == 'PROD-CONS-Myfawry-MCC'){
                log_type = 'mcc-server';
                search_type = 'archive';
            } else if(list1SelectedValue == 'PROD-SW-IIB' || list1SelectedValue == 'Staging-Switch' || list1SelectedValue == 'Staging-Banking-SW'){
                log_type = 'sw-iib';
            }

            var data = { 'search_group':list1SelectedValue , 'trx_date': trx_date , 'trx_time': hour , 'Async' : Async , 'log_type' : log_type };

            $.post("searcharchivefn", data,function(response){
                $(".spinner-border").hide();
                $( 'html' ).html( response ).show('slow');
            });
        };

        groupList.onclick = function getServers(){
            var list1 = document.getElementById('groupList');
            var list2 = document.getElementById('serverList');
            var list1SelectedValue = list1.options[list1.selectedIndex].value;

            list2.options.length=0;

            {% for s in servers %}
                var result = '{{s.group_name.groupName}}'.localeCompare(list1SelectedValue);
                if (result == 0){
                    var option = document.createElement('option');
                    option.text = "{{ s.IP }}";
                    list2.add(option);
                }
            {% endfor %}

            if(list1SelectedValue == 'PROD-CONS-Myfawry-MCC'){
                $(".search_type").hide();

            }
            else{
                $(".search_type").show();
            }
        }

    </script>

    {% endblock %}

</div>